body {
  margin: 0;
}
.play-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.play-button {
  background: none;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: black;
}
